@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-dark-gray: #0a0a0a;
    --secondary-dark-gray: #121212;
    --light-gray: #aaaaaa;
    --primary-medium-gray: #555555;
    --secondary-medium-gray: #1f1f1f;
    --medium-light-gray: #808080;
    --off-white: #e8e8e8;
    --hawkeye-gold: #ffcd00;
    --hawkeye-black: #000000;
    --action-border: conic-gradient(
        from 75deg,
        var(--off-white) 0%,
        var(--hawkeye-gold) 25%,
        var(--off-white) 50%,
        var(--hawkeye-gold) 75%,
        var(--off-white) 100%
    );
}

input,
textarea {
    background-color: transparent;
}

input:focus,
textarea:focus {
    outline: none;
}

.no-focus:focus {
    outline: none;
}

.blinking-cursor {
    display: inline-block;
    width: 2px;
    background-color: var(--hawkeye-gold);
    animation: blink 0.9s steps(1, start) infinite;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}
