@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-dark-gray: #0a0a0a;
    --secondary-dark-gray: #121212;
    --light-gray: #aaaaaa;
    --medium-gray: #555555;
    --off-white: #e8e8e8;
    --hawkeye-gold: #ffcd00;
    --hawkeye-black: #000000;
    --action-border: conic-gradient(
        from 75deg,
        var(--off-white) 0%,
        var(--hawkeye-gold) 25%,
        var(--off-white) 50%,
        var(--hawkeye-gold) 75%,
        var(--off-white) 100%
    );
}

input,
textarea {
    background-color: transparent;
}

input:focus,
textarea:focus {
    outline: none;
}
